.footer{
width: 100%;
padding: 1rem;
background: #e4e4e4;
display: flex;
justify-content: center;
font-weight: 600;
a{
    color: rgb(52, 93, 230);
    text-decoration: none;
    display: block;
    margin: 0 1rem;
}
}