%bf{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background:rgba(255,255,255,.04);
    transform: skewX(-20deg);
    animation: rotate 1s 0s infinite;
}

.skeleton-article{
    width: 100%;
    padding: .4rem;
     .skeleton-results{
         display: grid;
         grid-template-columns: 80px auto;
         grid-gap: 1.3rem;
         margin: 2rem 0;
         border: 1px solid #ccc;
         background: #dddddd3b;
         position: relative;
         overflow: hidden;
         .skeleton__img{
            background: #64646438;
           padding: .3rem;
           position: relative;
           overflow: hidden;

           &:before {
            @extend %bf;
        }
        }
        .skeleton__content{
            width: 90%;
            .skeleton__header{
                margin:1rem 0;
                background:#64646438;
                padding: .5rem;
                width: 100px;
                border-radius: 10px;
                position: relative;
                overflow: hidden;

                &:before {
                    @extend %bf;
                }

            }
            .skeleton__text{
                margin:1rem 0;
                background: #64646438;
                padding: .5rem;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                &:before {
                    @extend %bf;
                }

            }
            .skeleton__released__date{
                margin-top: .3rem;
                margin-bottom: 1rem;
                background: #64646438;
               width: 60px;
               padding: .5rem;
               border-radius: 10px;
               position: relative;
               overflow: hidden;
               &:before {
                @extend %bf;
            }
            }
        }
       
     }

    
}

@keyframes rotate {
    0%{
        transform:translateX(-100%);
    }
    // 50%{
    //     transform:translateX(-60%);
    // }
    100%{
        transform:translateX(200%);
    }
}
.search-results--container{

    .result{
        .img{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .content{
            margin:1rem 1.4rem;
            .released__date{
                margin-top: .3rem;
                margin-bottom: 1rem;
                p{
                    color: #b6b6b6;
                    font-weight: 500;
                }
            }
        }
    }
}



// movie skeleton
.shimmer {
    display: flex;
    flex-wrap: wrap;
}
.movie-skeleton{
    margin: 0 1rem;
   .card{
    height: 350px;
    width: 230px;
    background: #acacac3b;
    position: relative;
    overflow: hidden;

    &:before{
        @extend %bf;
    }
   }
   .title{
       width: 140px;
       padding: .6rem;
       background: #acacac3b;
       margin: 1rem 0;
       overflow: hidden;
       &:before{
        @extend %bf;
    }
       position: relative;

   }
   .date{
    width: 100px;
    padding: .6rem;
    background:  #acacac3b;
    margin: 1rem 0;
    overflow: hidden;

    &:before{
        @extend %bf;
    }
    position: relative;

   }
}


@media (max-width:600px){
    .shimmer{
        display: block;
        width: 100%;
        
    }
    
.movie-skeleton{
    width: 100%;
    margin: 0;
   .card{
    height: 260px;
    width: 100%;
   }
   
}
}